rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read and direct database updates from the portfolio admin
    match /profile/{document=**} {
      allow read, write: if true;
    }
    match /skills/{document=**} {
      allow read, write: if true;
    }
    match /education/{document=**} {
      allow read, write: if true;
    }
    match /experience/{document=**} {
      allow read, write: if true;
    }
    match /projects/{document=**} {
      allow read, write: if true;
    }
    match /research/{document=**} {
      allow read, write: if true;
    }
    match /socialLinks/{document=**} {
      allow read, write: if true;
    }
    match /messages/{document=**} {
      allow read, write: if true;
    }
  }
}
